.main-container {
    margin: 0 auto;
    padding-top: 10em;
    font-size: clamp(1.3em, 3vw, 1.5em);
    width: clamp(340px, 80%, 700px);
    height: 100%;
    text-align: center;
}

.advice-container {
    background-color: hsl(217, 19%, 24%);
    width: clamp(340px, 80%, 700px);
    max-width: 600px;
    min-height: 350px;
    color: white;
    margin: 0 auto;
    border-radius: 3%;
}

.advice {
    font-family: 'Manrope', sans-serif;
    color: hsl(193, 38%, 86%);
    font-weight: 800;
    padding: 2em 1em;
}

.advice-number {
    color: hsl(150, 100%, 66%);
    text-transform: uppercase;
    font-size: 0.6em;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 4px;
    font-weight: 600;
    padding-top: 3em;
}

.dice {
    margin-top: 0;
    background-color: hsl(150, 100%, 66%);
    width: 25px;
    height: 25px;
    transform: translateY(-30%);
}

.dice-2 {
    margin-top: 0;
    width: 25px;
    height: 25px;
    transform: translateY(-30%);
}

.top-btn {
    padding: 2.2em 0;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    transform: translateY(-50%);
    border: none;
    background-color: hsl(150, 100%, 66%);
    cursor: pointer;
}

.btn {
    padding: 2.2em 0;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    background-color: hsl(150, 100%, 66%);
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

.top-btn:hover {
    box-shadow: 0 0 50px 5px hsl(150, 100%, 66%);
}

.btn:hover {
    box-shadow: 0 0 50px 5px hsl(150, 100%, 66%);
}

@media screen and (min-width: 769px) {
    .mobile-divider {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .desktop-divider {
        display: none;
    }
}