* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: hsl(218, 23%, 16%);
}

.App {
  text-align: center;
}

.attribution {
  font-size: 11px;
  color: white;
  text-align: center;
}

.attribution a {
  color: hsl(150, 100%, 66%);
}